@import './../global/variables.scss';

header {
	background-color: $base-color-background;
	min-height: 65px;
}

.header {
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 49px;
	}

	&__link:hover svg path {
		cursor: pointer;
		opacity: 70%;
	}

	&__link:active svg path, 
		&__link:focus svg path	{
		opacity: 30%;
	}
}
