@import './../global/variables.scss';

.filter-pagination {
  grid-area: pagin;
  margin-bottom: 60px;
  border: 2px solid rgb(7, 108, 39);
  
  &__list {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
  }
}