@import './../global/variables.scss';

.filter {
    &__header {
        background-color: $base-color-background;
    }

    &__header-title {
        margin: 0;
        font-size: 55px;
        font-weight: 500;
        line-height: 55px;
        text-align: center;
        padding: 87px 0 108px 0;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: min-content 1fr min-content;
        grid-template-areas:
            'form sort sort'
            'form card card'
            'form pagin pagin';
        /* column-gap: 47px; */
    }

    &__title {
        font-size: 18px;
        font-weight: 700;
        line-height: 30px;
        text-align: left;
        text-transform: uppercase;
    }
}