@import './../global/variables.scss';

.navigation {
	&__list {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		max-width: 700px;
		margin-left: 60px;
		margin-right: 40px;
	}

	&__item {
		font-size: 16px;
		font-weight: 500;
		line-height: 30px;
		text-transform: uppercase;
		margin-right: 45px;
	}

	&__item:last-child {
		margin-right: 0;
	}

	&__item a {
		text-decoration: none;
		padding-bottom: 22px;
	}

	&__link:hover {
		color: $base-background-main;
	}

	&__link:active,
	&__link:focus {
		color: $base-color-text;
		opacity: 30%;
	}

	&__link-current {
		color: $base-color-text;
		border-bottom: 2px solid $base-background-main;
		/* padding-bottom: 22px; */
		opacity: 100%;
		pointer-events: none;
	}
}