@import './../global/variables.scss';

// Если убираю контейнер, сжимается блок
.container {
    width: 1160px;
    margin: 0 auto;
}

.partners {

    &__list {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        align-items: center;
        list-style-type: none;
        padding-left: 0;
    } 

    &__logo {
        display: block;
        align-items: center;
    }

    // &__item:nth-child(n+1) {
    //     border-right: 2px solid $base-color-background;
    // }

    &__wrapper {
        border-top: 2px solid $base-color-background;
        border-bottom: 2px solid $base-color-background;
        margin-bottom: 80px;

    }
}