@import './../global/variables.scss';

.user-navigation {
	&__list {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
	}

	&__item {
		font-size: 16px;
		font-weight: 500;
		line-height: 30px;
		text-transform: uppercase;
		position: relative;
		padding-left: 20px;
	}

	&__item::after {
		content:'';
		position: absolute;
		width: 15px;
		height: 15px;
		background-image: url('./../../images/icons/cart-icon.svg');
		top: 8px;
		left: -18px;
	}

	&__item a{
		text-decoration: none;
	}
}