@charset "UTF-8";
.map {
  min-height: 416px;
  background-image: url("./../../images/map.png");
  background-repeat: no-repeat;
  background-position: center 0;
  background-color: #EEEEEE;
  position: relative;
}
.map__wrapper {
  min-height: 416px;
  position: relative;
}
.map__wrapper::before {
  content: "";
  position: absolute;
  width: 231px;
  height: 190px;
  background-image: url("./../../images/icons/map-marker.svg");
  top: 18%;
  right: 20%;
}

.map-contacts__box {
  position: absolute;
  top: 54px;
  max-width: 319px;
  min-height: 308px;
  background-color: #ffffff;
  margin-right: 0;
  padding: 47px 50px;
}
.map-contacts__title {
  margin: 0;
  margin-bottom: 23px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}
.map-contacts__address {
  font-style: inherit;
  margin-bottom: 37px;
}
.map-contacts__text {
  margin: 0;
  margin-bottom: 10px;
}
.map-contacts__phone {
  text-decoration: none;
  color: #000000;
}
.map-contacts__btn {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #FB565A;
  color: #ffffff;
  padding: 17px 42px;
  display: block;
  max-width: 219px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}
.map-contacts__btn:hover, .map-contacts__btn:focus {
  background-color: #E74246;
}
.map-contacts__btn:active {
  background-color: #D7373B;
  color: rgba(250, 250, 250, 0.3);
}

/*Модальное окно*/
/* .modal-container {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */
.modal-close {
  display: none;
}

.modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /* margin: auto; */
  background-color: #ffffff;
  padding: 63px 100px 84px;
  -webkit-box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.modal__auth {
  width: 960px;
}
.modal__close-btn {
  position: absolute;
  padding: 0;
  top: 78px;
  right: 90px;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.modal__close-img:hover path {
  fill: #FB565A;
  fill-opacity: 100%;
}
.modal__close-img:active path {
  fill: #FB565A;
  fill-opacity: 10%;
}
.modal__title {
  margin: 0;
  font-size: 45px;
  font-weight: 700;
  line-height: 53px;
  margin-bottom: 37px;
}

.modal.active {
  display: block;
}

.auth-form__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 34px;
}
.auth-form__item {
  margin-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.auth-form__item:last-child {
  margin-right: 0;
}
.auth-form__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 9px;
}
.auth-form__input {
  width: 360px;
  height: 50px;
  border: 2px solid #D7DCDE;
  border-radius: 3px;
  padding: 16px;
}
.auth-form__input::-webkit-input-placeholder {
  font-family: "roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  opacity: 0.5;
}
.auth-form__input::-moz-placeholder {
  font-family: "roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  opacity: 0.5;
}
.auth-form__input:-ms-input-placeholder {
  font-family: "roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  opacity: 0.5;
}
.auth-form__input::-ms-input-placeholder {
  font-family: "roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  opacity: 0.5;
}
.auth-form__input::placeholder {
  font-family: "roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  opacity: 0.5;
}
.auth-form__input:hover, .auth-form__textarea:hover {
  border-color: #B4B9BB;
}
.auth-form__input:focus, .auth-form__textarea:focus {
  border-color: #000000;
}
.auth-form__input:invalid, .auth-form__textarea:invalid {
  border-color: #E74246;
}
.auth-form__input:invalid::-webkit-input-placeholder, .auth-form__textarea:invalid::-webkit-input-placeholder {
  color: #E74246;
}
.auth-form__input:invalid::-moz-placeholder, .auth-form__textarea:invalid::-moz-placeholder {
  color: #E74246;
}
.auth-form__input:invalid:-ms-input-placeholder, .auth-form__textarea:invalid:-ms-input-placeholder {
  color: #E74246;
}
.auth-form__input:invalid::-ms-input-placeholder, .auth-form__textarea:invalid::-ms-input-placeholder {
  color: #E74246;
}
.auth-form__input:invalid::placeholder, .auth-form__textarea:invalid::placeholder {
  color: #E74246;
}
.auth-form__text {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.auth-form__textarea {
  resize: none;
  max-width: 760px;
  min-height: 118px;
  border: 2px solid #D7DCDE;
  border-radius: 3px;
  margin-bottom: 47px;
  padding: 16px;
}
.auth-form__textarea::-webkit-input-placeholder {
  font-family: "roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
  opacity: 0.5;
}
.auth-form__textarea::-moz-placeholder {
  font-family: "roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
  opacity: 0.5;
}
.auth-form__textarea:-ms-input-placeholder {
  font-family: "roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
  opacity: 0.5;
}
.auth-form__textarea::-ms-input-placeholder {
  font-family: "roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
  opacity: 0.5;
}
.auth-form__textarea::placeholder {
  font-family: "roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
  opacity: 0.5;
}
.auth-form__btn {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #FB565A;
  color: #ffffff;
  padding: 17px 83px;
  display: block;
  max-width: 259px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}
.auth-form__btn:hover, .auth-form__btn:focus {
  background-color: #E74246;
}
.auth-form__btn:active {
  background-color: #D7373B;
  color: rgba(250, 250, 250, 0.3);
}/*# sourceMappingURL=map.css.map */